*{
    border: 0;
    padding: 0;   
}
body{
    background-color:rgb(81, 174, 170);
}
header{
    width: 100%;
    height: 3em;
    font-size: 1em;
    border: 1px solid black;
    background: rgb(14, 27, 116);
    
}
header ul li{
    display: inline-block;
}
header a{
    text-decoration: none;
    color: rgb(78, 69, 241);
    margin-left: 20px;
    padding: 0px 20px;
}

header>nav>ul>li{
    float: left;
}

#questions{
    padding-left: 100px;
}

header a:link{
    background-color: rgb(18, 102, 151);
    border-radius: 3px;
}
header a:visited{
    color: rgb(18, 59, 134);
}
header a:hover{
    background-color:rgb(191, 204, 8);
    border: 1px solid rgba(76, 187, 42, 0.966);
}
header a:active{
    background-color: rgb(24, 156, 24);
}
.question ul li{
    list-style-position: inside;
    padding-left: 50px;
}
.question{
    border: 1px solid black;    
    margin-top: 3px;
}
.question img{
    margin-top: 30px;
    width: 100%;
    height: 30vh;
}